<!DOCTYPE html>
<html lang="fr">
    <head>
        <meta charset="UTF-8">
        <title>Express Movies</title>
        <link rel="stylesheet" href="../public/style.css"/>
    </head>

    <body>
        <h1>Express Movies : les site des cinephiles</h1>
        <div>
            Etes vous plutot films ou series ?
        </div>
    </body>
</html>